extends base.pug

block append head
    title 404 Not Found
    meta(property='og:title', content="404 | yswysw's blog")
    meta(property='og:url', content='/')

block append content
    div.middle
        h1 The page was not found.
        div#home
            h2
                a(href='/') Home