doctype html
html
    head
        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css')
        block head
    body
        include header.pug
        div.content
            block content