doctype html
html
    head
        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css')
        link(rel='shortcut icon', href='/profile.png')
        meta(name='theme-color', content='#00FFFF')
        meta(property='og:type', content='website')
        meta(property='og:image', content='/profile.png')
        meta(property='og:description', content="yswysw's blog")
        block head
    body
        include header.pug
        div.content
            block content
        div.space(style='height: 100px')