extends base.pug

block append head
    title Error
    meta(property='og:title', content="Error | yswysw's blog")
        meta(property='og:url', content='/')

block append content
    div.middle
        h1 Sorry, there seems to be a problem...
        div#home
            h2
                a(href='/') Home