extends base.pug

block append head
    title Error

block append content
    div.middle
        h1 Sorry, there seems to be a problem...
        div#home
            h2
                a(href='/') Home