div.header(style={height: '100px'})
    table#menu(style='margin:0;width:100%')
        tbody
            tr
                td(style={width: '20%'})
                    span.logo
                        a(href='/') yswysw
                td(style={width: '42.5%'})
                td(style="min-width: 25%;max-width:25%;text-align: right;")
                    span.menu
                        form(action='/search', accept-charset='UTF-8', name='keyword', method='get')
                            input#searchInput.hover(name='keyword')
                td(style={width: '12.5%'})
                    span.menu
                        a(href='/posts') Posts