extends base.pug

block append head
    title Posts
    meta(property='og:title', content="Posts | yswysw's blog")

block append content
    h1 Posts
    br
    table.posts
        each post in posts
            tr
                td#title
                    a(href='/post/' + post.title.slice(0, -3)) 
                        h3(style='margin-left:0;') #{post.title.slice(11, -3)}
                td#date
                    a(href='/post/' + post.title.slice(0, -3)) #{post.date}