extends base.pug

block append head
    title Search
    script(type='text/javascript').
        window.onload = () => {
            const keyword = decodeURI((new URL(window.location.href)).searchParams.get('keyword'));
            document.getElementById('searchInput').value = ([undefined, 'null']).includes(keyword) ? '' : keyword;
        };


block append content
    each post in posts
        div.post
            a(href='/post/' + post.title.slice(0, -3)) 
                table.post
                    tbody
                        tr
                            td#title
                                h3(style='margin-left:0;') #{post.title.slice(11, -3)}
                            td#date #{post.date}
                p.preview= post.preview
    - if (posts.length === 0)
        h2 Post Not Found